.row {
    display: flex;
}

.col {
    flex: 4;
    padding: 10px;
    margin: 10px;
    background-color: lightcyan;
}

.col-2 {
    flex: 3;
    padding: 10px;
    margin: 10px;
    background-color: lightcyan;
}

.col-3 {
    flex: 5;
    padding: 10px;
    margin: 10px;
    background-color: lightcyan;
}